{% extends 'base.html.twig' %}

 {% block title %} Symfony React Project {% endblock %}

 {% block body %}
     <div>

         <div class="site-mobile-menu">
             <div class="site-mobile-menu-header">
                 <div class="site-mobile-menu-close mt-3">
                     <span class="icon-close2 js-menu-toggle"></span>
                 </div>
             </div>
             <div class="site-mobile-menu-body"></div>
         </div>


     </div>

     <div class="hero fade-in" style="background-image: url('images/banner.png');"></div>



     <script src="js/jquery-3.3.1.min.js"></script>
     <script src="js/popper.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
     <script src="js/jquery.sticky.js"></script>
     <script src="js/main.js"></script>

     <div id="root"></div>



     </div>

 {% endblock %}